.monu{
    position: relative;
    background: #7C7374;
    clip-path: polygon(51% 0, 51% 0, 77% 65%, 100% 100%, 0 100%, 24% 65%);
    width: 500px;
    height: 500px;
    z-index: 1000;
    
}
.monu-1{
    background: #807e7e;
    clip-path: polygon(51% 0, 51% 0, 77% 65%, 100% 100%, 0 100%, 24% 65%);
    height: 454px;
    width: 437px;
    position: absolute;
    left: 31px;
    top: 45px;
}

.monu-2 {
    background: #888888;
    clip-path: polygon(51% 0, 51% 0, 77% 65%, 100% 100%, 0 100%, 24% 65%);
    height: 408px;
    width: 416px;
    position: absolute;
    left: 11px;
    top: 47px;
}


.monu-3 {
    background: #908e8e;
    clip-path: polygon(51% 0, 51% 0, 77% 65%, 100% 100%, 0 100%, 24% 65%);
    height: 358px;
    width: 358px;
    position: absolute;
    left: 27px;
    top: 48px;
}

.monu-4 {
    background: #999595;
    clip-path: polygon(51% 0, 51% 0, 77% 65%, 100% 100%, 0 100%, 24% 65%);
    height: 299px;
    width: 304px;
    position: absolute;
    left: 28px;
    top: 64px;
}

.monu-5 {
    background: #a09e9f;
    clip-path: polygon(51% 0, 51% 0, 77% 65%, 100% 100%, 0 100%, 24% 65%);
    height: 268px;
    width: 249px;
    position: absolute;
    left: 28px;
    top: 27px;
}

.whole-monu{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.floor{
    margin-top: -80px;
    clip-path: ellipse(50% 14% at 50% 50%);
    height: 200px;
    width: 100%;
    background: rgb(86, 86, 86);
    z-index: 20000000;
}
.back-circle{
    z-index: 100;
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    height: 400px;
    width: 400px;
    background: red;
    box-shadow: 1px -18px 67px 54px rgba(255,0,0,1);
    -webkit-box-shadow: 1px -18px 67px 54px rgba(255,0,0,1);
    -moz-box-shadow: 1px -18px 67px 54px rgba(255,0,0,1);
}
body{
    background-color: rgb(4, 112, 4);
}

marquee {
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(255, 236, 26);
  }

.ather{
    margin-top: 65px;
}

#intro{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 50000000000;
    top: 10px;
}
.container{
    display: inline-block;
}
.typed-out{
    font-family: sans-serif;
    margin-bottom: 5px;
    overflow: hidden;
    border-right: .15em solid red;
    white-space: nowrap;
    animation: typing 1.5s steps(20,end) forwards;
    font-size: 2rem;
    width: 0;
    color: #F07B3F;
    font-weight: 800;
    font-size: 48px;
    background: linear-gradient(250deg,#ff0000,#125902);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

@keyframes typing{
    form{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    } 

.slideInUp {
    -webkit-animation-name: slideInUp;
     animation-name: slideInUp;
     -webkit-animation-duration: 1s;
        animation-duration: 1s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
    }
 @-webkit-keyframes slideInUp {
        0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        }
@keyframes slideInUp {
        0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        } 


.rotate-scale-up {
        -webkit-animation: rotate-scale-up 0.65s linear both;
            animation: rotate-scale-up 0.65s linear both;
        }

        /* ----------------------------------------------
 * Generated by Animista on 2022-12-15 20:7:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  